/*=( 表格列表樣式 )=*/
.TableList {
    padding:1em;
}
.TableList table{
    border-collapse:collapse;
    font-size:12pt;
    width:100%;
}


/*欄位間距*/
.TableList th, 
.TableList td{
    padding:.5em;
}


/*標題列*/
.TableList th{
    border:1px solid #fff;
    white-space:nowrap;
    background:#328aa4 url(tr_bg1.gif) repeat-x;
    color:#fff;
}
.TableList th a{color:#fff;}


/*單列底線樣式*/
.TableList tr{
    border-bottom:1px solid #fff;
    _behavior: url(ie_hover.htc);/*IE6 hover*/
}
/*奇數列底色樣式*/
.TableList tr.Odd {background:#FFF;}
/*偶數列底色樣式*/
.TableList tr.Even {background:#eee;}


/*hover 樣式*/
.TableList tr.hover td,
.TableList tr:hover td{
    background:#e5f1f4;
}


/*=( 欄位設定 )=*/
/*圖片*/
.TableList th.Image,
.TableList td.Image{
    width:50px;
}
.TableList td.Image img{
    width:30px;
    height:30px;
}

/*標題*/
.TableList td.Title{
    text-align:left;
    font-size:14px;
}

/*日期*/
.TableList td.Date{
    width:3%;
    white-space:nowrap;
}



