body {
    background-color: black;
    color: white;
}

li {
    margin:20px 0;
}


a:link {color:#f78769;}    /* 設定尚未點閱過的連結樣式 */
a:visited {color:#f78769;} /* 設定過去曾經閱過的連結 */
a:hover {color:gray;}   /* 設定滑鼠游標指在連結位置上的樣式 */
a:active {color:#f78769;}  /* 設定上點擊過的連結樣式 */

.discussInfo,
.single {
    color: black;
    box-sizing: border-box;
    /* display: inline-block; */
    padding: 20px;
    margin: 10px;
    background-color: rgb(245, 220, 173);
    border: 2px solid rgb(246, 140, 140);
    /* line-height: 1; */
    /* text-indent:20px; */
}



.discussMeta{
    margin: 20px 0 0 0;
}

.discussMeta::before{
    display: block;
    content: "";
    width: 410px;
    height:1px;
    margin: 2px 0;
    background-color: black;
}